//import fonts
@font-face {
  font-family: "SF";
  src: url("/fonts/SFNS Display.ttf") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "SF", sans-serif;
  background-color: #121212;
}
#root {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
}

// header
header {
  display: flex;
  align-items: center;
  img {
    width: 75px;
  }
  h1 {
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
  }
}

//section
section {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  h2 {
    color: lightgrey;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }
  .section_content {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .circle {
      width: 150px;
      box-sizing: border-box;
      height: 150px;
      background-color: #1d1d1d;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.6);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin-top: 10px;
      transition: all 1s linear;
    }
    .circle:hover {
      transform: scale(1.2);
    }
  }
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
