//import fonts
@font-face {
  font-family: "VAG World Bold";
  src: url("/fonts/vag_world_bold.eot"); /* IE 9 Compatibility Mode */
  src: url("/fonts/vag_world_bold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("/fonts/vag_world_bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/vag_world_bold.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("/fonts/vag_world_bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/vag_world_bold.svg#vag_world_bold")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-smooth: never;
  -webkit-font-smoothing: none;
}
a {
  outline: none;
  text-decoration: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
body {
  font-family: "VAG World Bold";
  // background: linear-gradient(90deg, #f3f4f4, #e2e2e4);
  background-color: #2d266d;
  // background-image: url(/imgs/bg.png);
  // background-attachment: fixed;
  background-repeat: repeat;
}
#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  section {
    width: 50%;
    height: 50%;
    padding: 4px;
    position: relative;
  }
  section.top {
    height: calc(50% - 90px);
    display: flex;
  }
  section#topleft {
    justify-content: flex-end;
  }
  section.bottom {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1646px) {
  #root {
    section {
      width: 100%;
    }
    section.top {
      height: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    section.bottom {
      display: flex;
      justify-content: center;
      align-self: center;
      height: auto;
    }

    section#topleft {
      justify-content: center;
    }
    .logo {
      height: 70px;
    }
    .graphs {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}
.logo {
  height: 150px;
}
.bestclass_title {
  width: 100%;
  padding-top: 20px;
  font-size: 24pt;
  height: 80px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  font-family: "VAG World Bold";
  font-weight: 300;
}
.section_title {
  width: 100%;
  font-size: 24pt;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  font-family: "VAG World Bold";
  font-weight: 300;
}
.graphs {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.circle-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
  min-width: 136px;
  margin: 12px 0px;
  // transition: transform 0.2s linear;
  .circle {
    width: 101px;
    height: 101px;
    min-width: 101px;
    min-height: 101px;
    border-radius: 50%;
    // box-shadow: inset 0 0 9px white;
    border: 3px solid #fff;
    background-repeat: no-repeat;
    background-size: cover;
    // background: red;
  }
  span.title {
    padding-bottom: 6px;
    cursor: default;
    color: white;
    letter-spacing: 2px;
  }
  span.medium {
    font-weight: bold;
    font-size: 16px;
    color: #ca4e73;
    margin-top: -12px;
  }
  span.class {
    color: #ffb859;
    font-size: 24px;
    margin-left: -6px;
  }
}
.hidecredits {
  width: 100%;
  height: 10px;
  background: white;
  position: absolute;
  top: 81%;
  left: 0;
}
