//import fonts
@font-face {
  font-family: "SF";
  src: url("/fonts/SFNS Display.ttf") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}
a {
  outline: none;
  text-decoration: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
body {
  font-family: "SF", sans-serif;
  background: linear-gradient(180deg, #ffffff 14.06%, #ecd5b2 100%);
}
#root {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
}

// header
header {
  display: flex;

  a {
    display: flex;
    align-items: center;
    img {
      width: 75px;
    }
    h1 {
      color: #1d1d1d;
      font-size: 24px;
      letter-spacing: 1px;
    }
  }
}

//section
section {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  h2 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }
  .section_content {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .circle-card {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 0 5px;
      min-width: 136px;
      margin: 12px 0px;
      transition: transform 0.2s linear;
      .circle {
        width: 101px;
        // box-sizing: border-box;
        height: 101px;
        border-radius: 50%;
        // border: 1px solid rgba(255, 255, 255, 0.6);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        background-repeat: no-repeat;
        background-size: cover;
      }
      span.title {
        padding-top: 6px;
        cursor: default;
      }
      span.medium {
        font-weight: bold;
        font-size: 22px;
        padding-bottom: 2px;
      }
      span.class {
      }
    }
    .circle-card:hover {
      transform: scale(1.06);
    }
  }
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
